<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <dev>
            <table border=1>
                <th>111</th>
                <th>123</th>
                <th>346</th>
                <tr>
                    <td>sss</td>
                    <td>ddd</td>
                    <td>aaa</td>
                </tr>
                <tr>
                    <td>sss</td>
                    <td>ddd</td>
                    <td>aaa</td>
                </tr>
            </table>
        </dev>
        
    </body>
</html>
